<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Kullanıcılar</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    <h2>Kayıtlı Kullanıcılar</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>İsim</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.email}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
